WINDOWS_RT/EXO/PROJECT_Agence/AgenceRT/AgenceRT/Service References/AgenceWebService/AgenceWebServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55775/AgenceWebServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AgenceDTO" />
  <xs:element name="ChargerListeBiens">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerListeBiensResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AgenceDTO" minOccurs="0" name="ChargerListeBiensResult" nillable="true" type="q1:ArrayOfBienDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerBien">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerBienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AgenceDTO" minOccurs="0" name="ChargerBienResult" nillable="true" type="q2:BienDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerListeBiensParType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerListeBiensParTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AgenceDTO" minOccurs="0" name="ChargerListeBiensParTypeResult" nillable="true" type="q3:ArrayOfBienDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterBien">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AgenceDTO" minOccurs="0" name="bien" nillable="true" type="q4:BienDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterBienResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerListeTypesBiens">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerListeTypesBiensResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AgenceDTO" minOccurs="0" name="ChargerListeTypesBiensResult" nillable="true" type="q5:ArrayOfTypeBienDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupprimerBien">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupprimerBienResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerListeProspects">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerListeProspectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AgenceDTO" minOccurs="0" name="ChargerListeProspectsResult" nillable="true" type="q6:ArrayOfProspectDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerProspect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerProspectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AgenceDTO" minOccurs="0" name="ChargerProspectResult" nillable="true" type="q7:ProspectDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterProspect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AgenceDTO" minOccurs="0" name="prospect" nillable="true" type="q8:ProspectDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterProspectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SupprimerProspect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupprimerProspectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerListeAgents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerListeAgentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AgenceDTO" minOccurs="0" name="ChargerListeAgentsResult" nillable="true" type="q9:ArrayOfAgentDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerAgent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerAgentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AgenceDTO" minOccurs="0" name="ChargerAgentResult" nillable="true" type="q10:AgentDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterAgent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AgenceDTO" minOccurs="0" name="agent" nillable="true" type="q11:AgentDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterAgentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SupprimerAgent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupprimerAgentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerListeProprietaires">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerListeProprietairesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/AgenceDTO" minOccurs="0" name="ChargerListeProprietairesResult" nillable="true" type="q12:ArrayOfProprietaireDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerProprietaire">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerProprietaireResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/AgenceDTO" minOccurs="0" name="ChargerProprietaireResult" nillable="true" type="q13:ProprietaireDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterProprietaire">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/AgenceDTO" minOccurs="0" name="proprietaire" nillable="true" type="q14:ProprietaireDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterProprietaireResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SupprimerProprietaire">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupprimerProprietaireResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerListeRendezVous">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerListeRendezVousResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/AgenceDTO" minOccurs="0" name="ChargerListeRendezVousResult" nillable="true" type="q15:ArrayOfAgendaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerAgenda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerAgendaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/AgenceDTO" minOccurs="0" name="ChargerAgendaResult" nillable="true" type="q16:AgendaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterAgenda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/AgenceDTO" minOccurs="0" name="agenda" nillable="true" type="q17:AgendaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterAgendaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SupprimerAgenda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupprimerAgendaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerListeAnnonces">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerListeAnnoncesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/AgenceDTO" minOccurs="0" name="ChargerListeAnnoncesResult" nillable="true" type="q18:ArrayOfAnnonceDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerAnnonce">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerAnnonceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/AgenceDTO" minOccurs="0" name="ChargerAnnonceResult" nillable="true" type="q19:AnnonceDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterAnnonce">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/AgenceDTO" minOccurs="0" name="annonce" nillable="true" type="q20:AnnonceDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterAnnonceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SupprimerAnnonce">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupprimerAnnonceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EnregistrerSaisie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="saisie" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnregistrerSaisieResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>